<% content_for :title do %>All devices index<% end %>
<% content_for :description do %>Shows a list of all devices<% end %>

<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Map</a></li>
  <li role="presentation"><a href="/devices/<%= @devices.try(:last).try(:id) %>">Device readings</a></li>
</ul>
<p>
<% begin %>
  <h3>We currently have this many devices: <%= @devices.length %></h3>
  </p>
  <div class="devices-index">
    <ul class="list-group">
      <% @devices.each do |device| %>
        <a href=<%= "/devices/#{device.id}" %>>
          <li class="list-group-item">
            Device <%= device.id %>
            <span class="badge"><%= device.readings.length %></span>
          </li>
        </a>
      <% end %>
    </ul>
  </div>
<% rescue %>
  Error occured.
<% end %>
<div style="display:none">
  <!-- readings = @devices.map{&:results.last}  -->
</div>

<div id="map" class="container" style="height: 500px"></div>

<%= javascript_tag do%>
  window.readings= <%=raw @readings.to_json %>;
<%end%>
<script>
  var map;
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      zoom: 12,
      center: new google.maps.LatLng(42.707, 23.346),
      mapTypeId: 'terrain'
    });

    // Create a <script> tag and set the USGS URL as the source.
    var script = document.createElement('script');
    // This example uses a local copy of the GeoJSON stored at
    // http://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/2.5_week.geojsonp
    script.src = 'https://developers.google.com/maps/documentation/javascript/examples/json/earthquake_GeoJSONP.js';
    document.getElementsByTagName('head')[0].appendChild(script);

    function getCircle(magnitude) {
          return {
            path: google.maps.SymbolPath.CIRCLE,
            fillColor: 'red',
            fillOpacity: .2,
            scale: Math.pow(2, magnitude) / 2,
            strokeColor: 'white',
            strokeWeight: .5
          };
        }

    map.data.setStyle(function(feature) {
              var magnitude = feature.getProperty('mag');
              return {
                icon: getCircle(magnitude)
              };
            });

  }

  // // Loop through the results array and place a marker for each
  // // set of coordinates.
  // window.eqfeed_callback = function() {
  // for (var j = 0; j< window.readings.length; j++ ) {
  //   var lat = window.readings[j].lat;
  //   var long = window.readings[j].long;
  //   var weight = window.readings[j].temp;
  //   var latLng = new google.maps.LatLng(lat,long);
  //     var marker = new google.maps.Marker({
  //       position: latLng,
  //       map: map
  //     });
  //   }
  // }

  // Loop through the results array and place a marker for each
  // set of coordinates.
  var heatMapData = [];
  window.eqfeed_callback = function() {
  for (var j = 0; j< window.readings.length; j++ ) {
    var lat = window.readings[j].lat;
    var long = window.readings[j].long;
    var weight = window.readings[j].hum;
    heatMapData.push({location: new google.maps.LatLng(lat, long), weight: weight});
    }

  var heatmap = new google.maps.visualization.HeatmapLayer({
    data: heatMapData
  });
  // console.log(heatMapData);
  heatmap.setMap(map);
  }


</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key= <%= @key %> &callback=initMap&libraries=visualization">
</script>
