<% content_for :head do %><%= javascript_include_tag "google_map" %><% end %>
<% content_for :title do %>All devices index<% end %>
<% content_for :description do %>Shows a list of all devices<% end %>

<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Map</a></li>
  <li role="presentation"><a href="/devices/<%= @devices.try(:last).try(:id) %>">Device readings</a></li>
</ul>
<p>
<% begin %>
  <h3>We currently have this many devices: <%= @devices.length %></h3>
  </p>
  <div class="devices-index">
    <ul class="list-group">
      <% @devices.each do |device| %>
        <a href=<%= "/devices/#{device.id}" %>>
          <li class="list-group-item">
            Device <%= device.id %>
            <span class="badge"><%= device.readings.length %></span>
          </li>
        </a>
      <% end %>
    </ul>
  </div>
<% rescue %>
  Error occured.
<% end %>