<% content_for :title do %>Single device data<% end %>
<% content_for :head do %>
<% end %>
<% content_for :description do %>Shows the data from a single device<% end %>

<ul class="nav nav-tabs">
  <li role="presentation"><a href="/devices">Map</a></li>
  <li role="presentation" class="active"><a href="#">Device readings</a></li>
</ul>
<div id="humidity-chart" style="width:100%; height:400px;"></div>
<div id="temperature-chart" style="width:100%; height:400px;"></div>
<% begin %>
<h3>Device <%= @device.id %> Readings</h3>
  <p>This device has the following readings:</p>
  <table class="table table-striped readings-index">
    <tr>
      <th>
        ID
      </th>
      <th>
        Location (lat, long)
      </th>
      <th>
        Humidity (%)
      </th>
      <th>
        Temperature
      </th>
      <th>
        Pressure
      </th>
      <th>
        Humidity (soil) (%)
      </th>
      <th>
        Temperature (water)
      </th>
      <th>
        MQ5
      </th>
      <th>
        MQ135
      </th>
      <th>
        Voltage
      </th>
      <th>
        Created at
      </th>
    </tr>
    <% @device.readings.each do |reading| %>
      <tr>
        <td>
          Reading <%= reading.id %>
        </td>
        <td>
          <%= "(#{reading.lat}, #{reading.long})"%>
        </td>
        <td>
          <%= reading.hum %>
        </td>
        <td>
          <%= reading.temp %>
        </td>
        <td>
          <%= reading.pres %>
        </td>
        <td>
          <%= reading.soil_hum_percent %>
        </td>
        <td>
          <%= reading.tempw %>
        </td>
        <td>
          <%= reading.mq5 %>
        </td>
        <td>
          <%= reading.mq135 %>
        </td>
        <td>
          <%= reading.voltage %>
        </td>
        <td>
          <%= reading.created_at.to_formatted_s(:short)  %>
        </td>
      </tr>
    <% end %>
  </table>
<% rescue %>
  Error occurred.
<% end %>

<%= javascript_tag do%>
  window.dates = [];
  <% @dates.each do |date| %>
    var dateStr = "<%= date.to_formatted_s(:iso8601)%>";
    window.dates.push(Date.parse(dateStr));
  <% end %>
  window.startDate = window.dates[0];
  console.log(window.startDate);
<%end%>

<script type="text/javascript">
  // Data retrieved from http://vikjavev.no/ver/index.php?spenn=2d&sluttid=16.06.2015.
$(function () {
    Highcharts.chart('humidity-chart', {
        chart: {
            type: 'spline'
        },
        title: {
            text: 'Air and Soil Humidity'
        },
        subtitle: {
            text: 'Displays data from Device <%= @device.id %>'
        },
        xAxis: {
            type: 'datetime',
            labels: {
                overflow: 'justify'
            }
        },
        yAxis: {
            title: {
              text: 'Humidity (%)'
            },
            minorGridLineWidth: 0,
            gridLineWidth: 0,
            alternateGridColor: null,
            plotBands: [{ // Red
                from: 0.3,
                to: 25,
                color: 'rgba(255, 51, 0, 0.2)',
                label: {
                    text: 'Red zone',
                    style: {
                        color: '#606060'
                    }
                }
            },{ // Yellow
                from: 25,
                to: 75,
                color: 'rgba(255, 255, 153, 0.4)',
                label: {
                    text: 'Yellow zone',
                    style: {
                        color: '#606060'
                    }
                }
            },
            { // Green
                from: 75,
                to: 100,
                color: 'rgba(153, 255, 51, 0.3)',
                label: {
                    text: 'Green zone',
                    style: {
                        color: '#606060'
                    }
                }
            }]
        },
        tooltip: {
            valueSuffix: ' m/s'
        },
        plotOptions: {
            spline: {
                lineWidth: 4,
                states: {
                    hover: {
                        lineWidth: 5
                    }
                },
                marker: {
                    enabled: false
                },
                pointInterval: 600000, // one minute
                pointStart: window.startDate
                // pointStart: Date.UTC(2015, 4, 31, 0, 0, 0)
            }
        },
        series: [{
            name: 'Air Humidity',
            data: <%= @humidities.map(&:to_f) %>
        },{
            name: 'Soil Humidity',
            data: <%= @humidities_soil.map(&:to_f) %>
        }
        ],
        navigation: {
            menuItemStyle: {
                fontSize: '10px'
            }
        }
    });
});
</script>


<script type="text/javascript">
  // Data retrieved from http://vikjavev.no/ver/index.php?spenn=2d&sluttid=16.06.2015.
$(function () {
    Highcharts.chart('temperature-chart', {
        chart: {
            type: 'spline'
        },
        title: {
            text: 'Air and Water Temperature'
        },
        subtitle: {
            text: 'Displays data from Device <%= @device.id %>'
        },
        xAxis: {
            type: 'datetime',
            labels: {
                overflow: 'justify'
            }
        },
        yAxis: {
            title: {
              text: 'Temperature (C)'
            },
            minorGridLineWidth: 0,
            gridLineWidth: 0,
            alternateGridColor: null,
            plotBands: [{ // Blue
                from: -10,
                to: 5,
                color: 'rgba(102, 204, 255, 0.3)',
                label: {
                    text: 'Blue zone',
                    style: {
                        color: '#606060'
                    }
                }
            },{ // Green
                from: 5,
                to: 30,
                color: 'rgba(153, 255, 51, 0.3)',
                label: {
                    text: 'Green zone',
                    style: {
                        color: '#606060'
                    }
                }
            },
            { // Red
                from: 30,
                to: 100,
                color: 'rgba(255, 51, 0, 0.2)',
                color: 'rgba(255, 51, 0, 0.2)',
                label: {
                    text: 'Red Zone',
                    style: {
                        color: '#606060'
                    }
                }
            }]
        },
        tooltip: {
            valueSuffix: ' m/s'
        },
        plotOptions: {
            spline: {
                lineWidth: 4,
                states: {
                    hover: {
                        lineWidth: 5
                    }
                },
                marker: {
                    enabled: false
                },
                pointInterval: 600000, // one minute
                pointStart: window.startDate
                // pointStart: Date.UTC(2015, 4, 31, 0, 0, 0)
            }
        },
        series: [{
            name: 'Air Temperature',
            data: <%= @temperatures.map(&:to_f) %>
        },{
            name: 'Water Temperature',
            data: <%= @temperatures_water.map(&:to_f) %>
        }
        ],
        navigation: {
            menuItemStyle: {
                fontSize: '10px'
            }
        }
    });
});
</script>
