<% content_for :title do %>Single device data<% end %>
<% content_for :head do %>
<% end %>
<% content_for :description do %>Shows the data from a single device<% end %>

<ul class="nav nav-tabs">
  <li role="presentation"><a href="/devices">Map</a></li>
  <li role="presentation" class="active"><a href="#">Device readings</a></li>
</ul>
<div id="container2" style="width:100%; height:400px;"></div>
<div id="container" style="width:100%; height:400px;"></div>
<% begin %>
<h3>Device <%= @device.id %> Readings</h3>
  <p>This device has the following readings:</p>
  <table class="table table-striped readings-index">
    <tr>
      <th>
        ID
      </th>
      <th>
        Location (lat, long)
      </th>
      <th>
        Humidity
      </th>
      <th>
        Temperature
      </th>
      <th>
        Pressure
      </th>
      <th>
        Created at
      </th>
    </tr>
    <% @device.readings.each do |reading| %>
      <tr>
        <td>
          Reading <%= reading.id %>
        </td>
        <td>
          <%= "(#{reading.lat}, #{reading.long})"%>
        </td>
        <td>
          <%= reading.hum %>
        </td>
        <td>
          <%= reading.temp %>
        </td>
        <td>
          <%= reading.pres %>
        </td>
        <td>
          <%= reading.created_at.to_formatted_s(:short)  %>
        </td>
      </tr>
    <% end %>
  </table>
<% rescue %>
  Error occurred.
<% end %>

<%= javascript_tag do%>
  window.dates = [];
  <% @dates.each do |date| %>
    var dateStr = "<%= date.to_formatted_s(:iso8601)%>";
    window.dates.push(Date.parse(dateStr));
  <% end %>
<%end%>

<script type="text/javascript">

$(function () {
    Highcharts.chart('container', {
        title: {
            text: 'Single device data',
            x: -20 //center
        },
        subtitle: {
            text: 'Displays data from Device <%= @device.id %>',
            x: -20
        },
        xAxis: {
            categories: window.dates
        },
        yAxis: {
            title: {
                text: 'Temperature (°C)'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: '°C'
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{
            name: 'Temperature',
            data: <%= @temperatures.map(&:to_f) %>
                    }, {
            name: 'Humidity',
            data: <%= @humidities.map(&:to_f) %>
        }, {
            name: 'Pressure',
            data: <%= @pressures.map(&:to_f) %>
        }]
    });
});
</script>