<% content_for :title do %>Single device data<% end %>
<% content_for :description do %>Shows the data from a single device<% end %>

<ul class="nav nav-tabs">
  <li role="presentation"><a href="/devices">Map</a></li>
  <li role="presentation" class="active"><a href="#">Device readings</a></li>
</ul>
<% begin %>
<h3>Device <%= @device.id %> Readings</h3>
  <p>This device has the following readings:</p>
  <table class="table table-striped readings-index">
    <tr>
      <th>
        ID
      </th>
      <th>
        Location (lat, long)
      </th>
      <th>
        Humidity
      </th>
      <th>
        Temperature
      </th>
      <th>
        Pressure
      </th>
      <th>
        Created at
      </th>
    </tr>
    <% @device.readings.each do |reading| %>
      <tr>
        <td>
          Reading <%= reading.id %>
        </td>
        <td>
          <%= "(#{reading.lat}, #{reading.long})"%>
        </td>
        <td>
          <%= reading.hum %>
        </td>
        <td>
          <%= reading.temp %>
        </td>
        <td>
          <%= reading.pres %>
        </td>
        <td>
          <%= reading.created_at.to_formatted_s(:short)  %>
        </td>
      </tr>
    <% end %>
  </table>
<% rescue %>
  Error occurred.
<% end %>